input{
    width: 300px;
    height: 40px;
    background-color: rgb(36, 228, 52);
    border: 1px solid rgb(26, 211, 51) ;
}
h1{
    margin: 0px;
    text-transform: uppercase;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: normal;
}

p{
    text-transform: uppercase;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 12px;
}

button{
    margin-top: 20px;
    width: 306px;
    height: 40px;
    border-radius: 0px;
    border:none;
    text-transform: uppercase;
    background-color: rgb(0, 0, 0);
    color: rgb(20, 247, 39);
    transition-duration: 1s ;
}

button:hover{
    background-color: rgb(56, 54, 54); 
}
